// This Moonwall Config file should be modified to include all types
// of environments you wish to test against.

// For more information on how to configure Moonwall, please visit:
// https://moonsong-labs.github.io/moonwall/config/intro.html
{
   "label": "moonwall_config",
   "defaultTestTimeout": 30000,
   "environments": [
      {
         "name": "default_env",
         "testFileDir": [
            "tests/"
         ],
         "foundation": {
            "type": "dev",
            "launchSpec": [{
               "binPath": "./tmp/moonbeam"
            }]
         }
      }
   ]
}