{
  "label": "Global Test Config 🐯",
  "defaultTestTimeout": 60000,
  "scriptsDir": "scripts/",
  "additionalRepos": [
    {
      "name": "astar",
      "ghAuthor": "AstarNetwork",
      "ghRepo": "Astar",
      "binaries": [
        {
          "name": "astar-collator*ubuntu-x86*",
          "type": "tar",
          "defaultArgs": ["--dev", "--sealing=manual", "--no-hardware-benchmarks", "--no-telemetry"]
        }
      ]
    },
    {
      "name": "hydra",
      "ghAuthor": "galacticcouncil",
      "ghRepo": "HydraDX-node",
      "binaries": [
        {
          "name": "hydradx"
        }
      ]
    },
    {
      "name": "interlay",
      "ghAuthor": "interlay",
      "ghRepo": "interbtc",
      "binaries": [
        {
          "name": "interbtc-parachain"
        }
      ]
    }
  ],
  "environments": [
    {
      "name": "interbtc",
      "testFileDir": ["suites/basic"],
      "description": "A star is born",
      "foundation": {
        "type": "dev",
        "launchSpec": [
          {
            "binPath": "./tmp/interbtc-parachain",
            "disableDefaultEthProviders": true
          }
        ]
      }
    },
    
  ]
}
