**node_modules**
**dist**
**coverage**
**tmp**
**/.tsup/
test/html/*
**/*.log
**local** 
downloads/*
*.wasm
moonbeam
polkadot
geth
node_modules
coverage
coverage.json
typechain
typechain-types
target/

cache
artifacts
**/tmp/*
**/contracts/out/*


.idea
db.sqlite*
**/*.local*

# Ignore kluster.ai Verify Code rules
.github/instructions/kluster-code-verify.instructions.md
