**node_modules**
**dist**
**coverage**
**tmp**
**/.tsup/
test/html/*
**/*.log
downloads/*
*.wasm
moonbeam
polkadot
geth
node_modules
**/.vscode/
.vscode/

coverage
coverage.json
typechain
typechain-types
.playwright-mcp/
target/

**/cache
!src/services/cache/
artifacts
**/tmp/*
**/contracts/out/*

tsconfig.tsbuildinfo
.idea
db.sqlite*
**/*.local*

# Ignore kluster.ai Verify Code rules
.github/instructions/kluster-code-verify.instructions.md


.kluster
