{
  "label": "Global Test Config 🐯",
  "defaultTestTimeout": 60000,
  "scriptsDir": "scripts/",

  "environments": [
    {
      "name": "viem_test",
      "testFileDir": ["suites/viem"],
      "envVars": [""],
      "foundation": {
        "type": "read_only"
      },
      "connections": [
        {
          "name": "viem",
          "type": "viem",
          "endpoints": ["wss://wss.api.moonbeam.network"]
        }
      ]
    },

    {
      "name": "basic2",
      "description": "Suite of tests that doesnt involve any blockchain stuff",
      "testFileDir": ["suites/basic/"],
      "foundation": {
        "type": "read_only"
      },
      "runScripts": [
        "compile-contracts.ts compile -p contracts/precompiles",
        "greeting.js",
        "shelley_prose.sh"
      ],
      "connections": []
    },

    {
      "name": "moonriver_smoke",
      "testFileDir": ["suites/dummy-smoke/"],
      "include": ["**/*conditional*"],
      "foundation": {
        "type": "read_only"
      },
      "connections": [
        {
          "name": "MB",
          "type": "polkadotJs",
          "endpoints": ["wss://wss.api.moonriver.moonbeam.network"]
        }
      ]
    },
    {
      "name": "chop_state_test",
      "testFileDir": ["suites/chopsticks/"],
      "include": ["**/*state*"],
      "foundation": {
        "type": "chopsticks",
        "launchSpec": [
          {
            "name": "mb",
            "type": "parachain",
            "running": false,
            "buildBlockMode": "manual",
            "configPath": "./configs/moonbeamChopsticks.yml"
          }
        ]
      },
      "connections": [
        {
          "name": "MB",
          "type": "polkadotJs",
          "endpoints": ["ws://127.0.0.1:12000"]
        }
      ]
    }
  ]
}
